# Mesclando conjuntos de dados
Use merges do Pandas para criar um conjunto de dados combinado a partir de `clean_08.csv` e `clean_18.csv`.

In [1]:
# carregue conjuntos de dados
import pandas as pd
df_08 = pd.read_csv('../Dados/clean_08.csv')
df_18 = pd.read_csv('../Dados/clean_18.csv')

### Crie conjunto de dados combinado

In [2]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987 entries, 0 to 986
Data columns (total 13 columns):
model                   987 non-null object
displ                   987 non-null float64
cyl                     987 non-null int64
trans                   987 non-null object
drive                   987 non-null object
fuel                    987 non-null object
veh_class               987 non-null object
air_pollution_score     987 non-null float64
city_mpg                987 non-null float64
hwy_mpg                 987 non-null float64
cmb_mpg                 987 non-null float64
greenhouse_gas_score    987 non-null int64
smartway                987 non-null object
dtypes: float64(5), int64(2), object(6)
memory usage: 77.1+ KB

In [3]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 13 columns):
model                   832 non-null object
displ                   832 non-null float64
cyl                     832 non-null int64
trans                   832 non-null object
drive                   832 non-null object
fuel                    832 non-null object
veh_class               832 non-null object
air_pollution_score     832 non-null float64
city_mpg                832 non-null float64
hwy_mpg                 832 non-null float64
cmb_mpg                 832 non-null float64
greenhouse_gas_score    832 non-null int64
smartway                832 non-null object
dtypes: float64(5), int64(2), object(6)
memory usage: 65.0+ KB

In [8]:
# renomeie colunas de 2008
df_08.rename(index=str, columns=(lambda x: x[:10] + "_2008"), inplace=True)

In [9]:
# exiba para verificar nomes
df_08.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008
0,ACURA MDX,3.7,6,Auto-S5,4WD,Gasoline,SUV,7.0,15.0,20.0,17.0,4,no
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no
2,ACURA RL,3.5,6,Auto-S5,4WD,Gasoline,midsize car,7.0,16.0,24.0,19.0,5,no
3,ACURA TL,3.2,6,Auto-S5,2WD,Gasoline,midsize car,7.0,18.0,26.0,21.0,6,yes
4,ACURA TL,3.5,6,Auto-S5,2WD,Gasoline,midsize car,7.0,17.0,26.0,20.0,6,yes

Execute uma combinação interna com a esquerda em “model_2008” e a direita em “model”.

In [12]:
# mescle os conjuntos de dados
df_combined = pd.merge(left_on=df_08.model_2008, right_on=df_18.model, how='outer')

TypeError: merge() missing 2 required positional arguments: 'left' and 'right'

In [5]:
# exiba para verificar a mesclagem
df_combined.head()

NameError: name 'df_combined' is not defined

Salve o conjunto de dados combinado

In [ ]:
df_combined.to_csv('combined_dataset.csv', index=False)